@page "/"
@rendermode InteractiveServer

@using System.Collections.Concurrent
@using BlazorApp3.Data
@using System.ComponentModel.DataAnnotations
@using LiteInvestServer.Json
@using PlazaEngine.Entity

@inject ApiDataService _apidataservice
@inject BufferService bufferService

<Menu></Menu>

<DxStackLayout CssClass="w-100 ch-480" Orientation="Orientation.Horizontal">
	<Items>
				@for (int i = 0; i < bufferService.SecuritiesRegiestered.Count; i++)
				{
					<DxStackLayoutItem>
						<Template>
							<div class="stacklayout-header stacklayout-item">
								<WorkWindow   secid="@bufferService.securityApiSelected.id" ApiDataService="@_apidataservice"/>
							</div>
						</Template>
					</DxStackLayoutItem>
				}
	</Items>
</DxStackLayout>

@code {
	protected async override Task OnInitializedAsync()
	{
		bufferService.OnComboBoxValuePicked += () => InvokeAsync(StateHasChanged);
	}	
}