@using BlazorApp3.Data

@inject ApiDataService _apidataservice
@inject BufferService bufferService

<style>
    .form-row {
        text-align: center;
    }
    .form-row input {
        text-align: center;
    }
</style>

<DxFormLayout>
    <DxFormLayoutItem ColSpanMd="12" CssClass="form-row">
        <DxTextBox @bind-Text="@Username" NullText="Username" />
    </DxFormLayoutItem>

    <DxFormLayoutItem ColSpanMd="12" CssClass="form-row">
        <DxTextBox @bind-Text="@Password" NullText="Password" />
    </DxFormLayoutItem>

    <DxFormLayoutItem ColSpanMd="12" CssClass="form-row">
        <DxTextBox @bind-Text="@Email" NullText="Email" />
    </DxFormLayoutItem>

    <DxFormLayoutItem ColSpanMd="12" CssClass="form-row">
        <button onclick="@LogInClick" class="login-button">Log in</button>
    </DxFormLayoutItem>
</DxFormLayout>

@code {
    string Username { get; set; } = "Nancy Davolio";
    string Password { get; set; } = "pass2"; // Можно заменить на любой безопасный пароль
    string Email { get; set; } = "samujan1@yandex.ru";
    bool RememberMe { get; set; } = true;
    bool IsInfoOpen { get; set; } = false;

    private async void LogInClick()
    {
        var r = await _apidataservice.LogIn(Email, Password);

        if (r != null)
        {
            Console.WriteLine("Connected!");
            await GetInstruments();
            bufferService.windowVisible = false;
            bufferService.UserLoggedIn = true;
            bufferService.OnLogin?.Invoke();
        }
    }

    private async Task GetInstruments()
    {
        bufferService.Securities = await _apidataservice.GetInstruments();
        Console.WriteLine($"Instruments = {bufferService.Securities.Count()} Received");
    }
}